@import 'tailwindcss';

@layer utilities {
	/* Скрыть полосу прокрутки для Chrome, Safari и Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Скрыть полосу прокрутки для IE, Edge и Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE и Edge */
		scrollbar-width: none; /* Firefox */
	}

	.chat-scrollbar::-webkit-scrollbar {
		width: 6px;
		padding-left: 4px;
	}

	.chat-scrollbar::-webkit-scrollbar-track {
		background: transparent;
	}

	.chat-scrollbar::-webkit-scrollbar-thumb {
		background: #3f3c5c;
		border-radius: 999px;
	}

	.chat-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #5a5690;
	}
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1d1b2e;
		--foreground: #eeeff6;
		--purple: #7754b2;
		--gray: #343142;
		--gray-text: #827f93;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-montserrat);
}
